@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #0B0722;
    /* overflow: hidden; */
    overflow-x: hidden;
}
#all{
    display: flex;
    align-items: center;
}
/* gauche   */
#div-gauche{
    padding: 40px;
    width: 817px;;
    background: rgba(77, 77, 77, 0.24);
    border-radius: 56px;
    text-align: center;
    margin: 29px 0px 29px 29px;
}

#div-gauche p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 100px;
    margin-bottom: 70px;
}


.div-perssonage img{
    width: 340px;
}

.iut-logo{
    margin-top: 80px;
    margin-bottom: 30px;
}
.iut-logo img{
    width: 281px;
}

/* forms */
.login-register{
    padding: 4px;
    width: 334px;
    background: #121220;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.lo-re{
    display: flex;
}
.active{
    background: #2F2F4A;
    border-radius: 8px;
}
.login-register a{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    padding: 7px 41px;
    margin: 0 4px;
}

.not-active{
    background: #121220;
    border-radius: 8px
}
.not-active:hover{
    background: #1f1f3577;
    border-radius: 8px;
    transition: 0.3s;
}

#forms{
    max-width: 417px;
    margin-left: 200px;
    margin-bottom: 40px;
}
input{
    padding: 0 10px;
}
form{
    flex-direction: column;
}
.label input{
    background: #24273F;
    border-radius: 13px;
    border: none;
    height: 46px;
}
label{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 7px;
}
input:focus {
    outline: none;
}
.label{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
#email{
    width: 417px;
}
.width-ltl-form{
    width: 200px;
    margin-right: 17px;
}
.nom-prenom, .naissance-mdp{
    display: flex;
}
.submit-container {
    display: flex; 
    justify-content: center; 
    margin-top: -33px; 
    
  }

.submit-container input{
    margin-top: 40px;
    background: #7B55EA;
    border-radius: 13px;
    width: 417px;
    height: 46px;
  }

.submit-container input[type="submit"] {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
}
.submit{
    cursor: pointer;
}
input{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    
}
#date_naissance::-webkit-calendar-picker-indicator {
    background-image: url('ressources/calendar-line.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#date_naissance::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
::-webkit-input-placeholder { 
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    color: #a3a3a3;
    font-weight: 400;
  }

  ::-moz-placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
  }
  :-ms-input-placeholder { 
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
  }
  :-moz-placeholder { 
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
  }
.eremail, .ernom, .erprenom, .erdate, .ermdp{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 12px;
    color: #FF4500;
    margin-top: 7px;
    
}

.shape__smll{
    width: 327px;
    height: 327px;
    left: 1327px;
    top: 752px;
    background: rgba(255, 0, 21, 0.48);
    filter: blur(250px);
    position: absolute;
}


.shape__big_1{
    position: absolute;
    width: 603px;
    height: 603px;
    left: -235px;
    top: 400px;
    background: rgba(248, 155, 41, 0.29);
    filter: blur(250px);
}
.shape__big_2{
    position: absolute;
    width: 603px;
    height: 603px;
    left: 1618px;
    top: 108px;
    background: rgba(255, 0, 115, 0.17);
    filter: blur(250px);
}
.erreur_email, .erreur_nom, .erreur_prenom, .erreur_date, .erreur_mdp{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 12px;
    color: #FF4500;
    margin-top: 7px;
    margin-right: 11px
}


